html, body {
  width:100%;
  height:100%;
}

/* canvas {
  display: block;
} */

.starter-container{
  display:flex;
  background-color: transparent;
  width: 800px;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 40px;
}

.starting-button{
  color:white;
}